# Unit 23. 2차원 리스트 사용하기

In [7]:
a = [[10,20,], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [8]:
import numpy as np
b = np.arange(10,61,10).reshape(3,2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [9]:
import pandas as pd
df = pd.DataFrame(a)
df

    0   1
0  10  20
1  30  40
2  50  60

In [10]:
# indexion
a[1][1]

40

In [13]:
a[-1][-1]

60

In [17]:
from pprint import pprint
pprint(a, indent=4)

[[10, 20], [30, 40], [50, 60]]

### 23-2. 2차원 반복문 리스트 출력

In [18]:
for element in a:
    print(element)

[10, 20]
[30, 40]
[50, 60]

In [22]:
for sub in a:
    for element in sub:
        print(element,)
    
    print()

10
20

30
40

50
60

In [25]:
len(a),len(a[0])

(3, 2)

In [26]:
for i in range(len(a)):             # 행의 갯수
    for k in range(len(a[i])):      # 열의 갯수
        print(a[i][k], end=' ')
    print()

10 20
30 40
50 60

In [27]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

In [28]:
# 1차원
a = []
for i in range(5):
    a.append(i)
a

[0, 1, 2, 3, 4]

In [34]:
# 2차원 (3 X 4)
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(4*i+k)
    two_d.append(line)
two_d

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [36]:
two_d = []
for i in range(3):
    for k in range(4):
        two_d.append(k)
two_d
# 2차원 리스트 형성 x ㅠㅠ

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]