# Unit 22. 리스트와 튜플 응용하기

    리스트에 요소추가

    -append: 요소 하나를 추가
    -extend: 리스트를 연결하여 확장
    -insert: 특정 인덱스에 요소 추가

In [1]:
a = [10, 20, 30]
a.append(40)
a

[10, 20, 30, 40]

In [2]:
a.insert(0, 34)
a

[34, 10, 20, 30, 40]

In [3]:
a.append([100, 200])
a

[34, 10, 20, 30, 40, [100, 200]]

In [5]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

    -요소삭제

In [7]:
del a[-1]
a

[34, 10, 20, 30, 40]

In [14]:
a= [34, 10, 20, 30, 40]
a.pop()   # pop = 가장 끝에 있는 파일을 꺼내서 리스트에서 삭제시킴

40

In [15]:
a

[34, 10, 20, 30]

In [20]:
a = [34, 10, 20, 30]

a.pop(0) #  pop = 인덱스 값을 주면  인덱스 값을 리스트에서 삭제시킴

34

    stack(LIFO) = last in first out
    pueue(FIFO) = fist in first out

In [21]:
a.index(20)

1

In [24]:
for index, element in enumerate(a):
    print(f'index: {index}, value: {element}')

index: 0, value: 10
index: 1, value: 20
index: 2, value: 30

In [25]:
for i in range(len(a)):
    print(f'index: {i}, values: {a[i]}')

index: 0, values: 10
index: 1, values: 20
index: 2, values: 30

In [27]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

1

In [29]:
# 특정 값의 갯수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [32]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [33]:
a.reverse()
a

[40, 20, 15, 30, 20, 10]

    -정렬(sort)

In [37]:
a.sort()     # 오름차순 정리(ascending order)

In [36]:
a

[10, 15, 20, 20, 30, 40]

In [38]:
a.sort(reverse=True)     #내림차순 정리(descending order)

In [39]:
a

[40, 30, 20, 20, 15, 10]

In [40]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [42]:
b       # sort는 본래 리스트를 변경시키지만 sorted는 본래 리스트는 변화하지 않지만 바뀐 결과를 print한다.

[10, 20, 30, 15, 20, 40]

 -리스트 복사

In [43]:
a

[40, 30, 20, 20, 15, 10]

In [44]:
b = a

In [46]:
b[-1] = 300
a

[40, 30, 20, 20, 15, 300]

In [49]:
b = a.copy()
b[-1] = 88
b                           #copy 는 a를 변경하지 않는다.

[40, 30, 20, 20, 15, 88]

In [48]:
a

[40, 30, 20, 20, 15, 300]

### 22-3. 반복문과 리스트

In [58]:
a = [38,21, 53, 62, 19]
for i in a:
    print(i,end=' ')

38 21 53 62 19

    -인덱스와 요소를 동시에 엑세스

In [55]:
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [57]:
fruits = ['사과', '배', '귤', '감']
for index, fruits in enumerate(fruits):
    print(index, fruits)

0 사과
1 배
2 귤
3 감

### 22-4. 리스트의 최대값 최소값 합계 구하기

In [59]:
a = [38, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small = element
small

19

In [60]:
large = -1
for element in a:
    if element > large:
        large = element
large

62

In [61]:
print(small + large)

81

In [62]:
min(a), max(a)

(19, 62)

In [64]:
sum(a)

193

In [65]:
a = [38, 21, 53, 62, 19]
sum = 0
for i in a:
    sum += i
sum

193

In [68]:
sum(a)           # 64번재 sum과는 다른 sum이다.
                 # x = 10, x(10)
                 # 쓸수는 있지만 error가 자주 생길수 있기에 이름 변경또는 다른방법 사용 추천

TypeError: 'int' object is not callable

### 22-5 리스트 표현식(comprehension)

가장 파이썬 스러운 코드

In [69]:
# 1에서 10까지의 제곱수로 된 리스트를 만드세요
square_list = []
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
square_list = [i*i for i in range(1,11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
odd_sq = [i*i for i in range(1,11) if i % 2 ==1]
odd_sq

[1, 9, 25, 49, 81]

In [78]:
# m=3, n=14 3의 배수의 제곱수로 된 리스트 만들기

ab_list = [i*i for i in range(3,14) if i % 3 ==0]
ab_list

[9, 36, 81, 144]

In [9]:
m, n = map(int, input('시작 끝').split())
res_list = [i*i for i in range(m, n+1) if i % 3 == 0]
res_list

[9, 36, 81, 144]

In [14]:
a = [i * j for i in range(2, 10) \
                for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 2-6 map

In [16]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])

print(a)

[1, 2, 3, 4]

In [17]:
a = [1.2, 2.5, 3.7, 4.6]

a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [19]:
a = [1.2, 2.5, 3.7, 4.6]
for element in a:
    element = int(element)

print(a)                #element는 list 를 직접적으로 바꿀수 없음

[1.2, 2.5, 3.7, 4.6]

In [25]:
a = [1.2, 2.5, 3.7, 4.6]
for element in a:
    element = int(element)
    print(element, end=' ')
print()
a

1 2 3 4

[1.2, 2.5, 3.7, 4.6]

In [26]:
list(map(int, a))

[1, 2, 3, 4]

In [27]:
def sq(x):
    return x*x

In [28]:
list(map(sq, a))

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [29]:
list(map(lambda x: x*x, a))

[1.44, 6.25, 13.690000000000001, 21.159999999999997]