- 표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요 (input에서 안내 문자열은 출력하지 않아야 합니다)

In [16]:
a = int(input())
b = str(input())

if b == 'Cash3000':
    print(a-3000)
if b == 'Cash5000':
    print(a-5000)

22000

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [2]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 3 ==0:
        i += 1 
        continue
    elif i < stop:
        i += 1
        break
print(i, end=' ')
i += 1

2

In [3]:
year = int(input())
if year % 400 ==0:
    print(f'{year}: 윤년')
elif year % 100 == 0:
    print(f'{year}: 윤년이 아님')
elif year % 4 ==0:
    print(f'{year}: 윤년')
else:
    print(f'{year}: 윤년이 아님')

2021: 윤년이 아님

만나이 구하기

In [9]:
from datetime import date
today = date.today()

year, month, day = map(int, input().split())
year, month, day

if month > today.month:
    age = today.year - year - 1
elif month < today.month:
    age = today.year - year
else:
    if day > today.day:
        age = today.year - year -1
    else:
        age = today.year - year
print(f'생년월일이 {year}-{month}-{day}인 사람의 만나이는 {age}이다.')

생년월일이 2000-2-25인 사람의 만나이는 21이다.

세   자연수   a, b, c 가   피타고라스   정리    a2 + b2 = c2 를   만족하면   피타고라스   수라고   부른다. (여기서   a < b < c 이고   a + b > c)
예를   들면, 32 + 42 = 9 + 16 = 25 = 52 이므로   3, 4, 5는   피타고라스   수입니다.
a + b + c = 1000 인   피타고라스   수를   구하시오. (답은   한가지   뿐이다.)

In [12]:
for a in range(1,1001):
    for b in range(a+1, 1001):
        c = 1000 - a - b
        if c*c == a*a + b*b:
            print(a, b, c)
            break

200 375 425

In [13]:
flag = False
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if c*c == a*a + b*b:
            print(a, b, c)
            flag = True
            break
    if flag:
        break

200 375 425

In [ ]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i>stop:
        break
    if i%10 == 3:
        i += 1
        continue
    print(i, end=' ')
    i += 1

In [1]:
1 + 2

3

In [6]:
for i in range(5):
    for k in range(5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [8]:
for i in range(5):
    for k in range(5):
        if k <= i:
            print('*', end='')
    print()

*
**
***
****
*****

In [9]:
for i in range(5):
    for k in range(5):
        if k == i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [12]:
for i in range(5):
    for k in range(5):
        if k < i:
            print(' ', end='')
        else:
            print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [68]:
a = int(input())

for i in range(a):
    for k in reversed(range(a)):
        if i < k:
            print(' ', end='')
        else:
            print('*', end='')
    for k in range(a):
        if i > k:
            print('*', end='')
    print()

    *
   ***
  *****
 *******
*********