# 1. 익명함수(lamda 함수)

+ 함수 이름이 없고, 단순 기능을 하는 경우가 대부분임, 
map, apply 등에 자주 등장함
+ 한줄짜리(3항연산자 까진 가능) 함수일때 사용

In [4]:
f = lambda x: x + 10

In [3]:
def func(x):
    return x + 10

In [5]:
f(5), func(5)

(15, 15)

In [7]:
a = [1, 3, 5, 7, 9]
list(map(func, a))      # map(함수, list)

[11, 13, 15, 17, 19]

In [9]:
list(map(lambda x: x+ 10, a))

[11, 13, 15, 17, 19]

- 1에서  10까지 홀수 제곱의 리스트 생성

In [12]:
square_odd_list = []
for i in range(1,11):
    if i % 2 == 1:
        square_odd_list.append(i*i)
square_odd_list

[1, 9, 25, 49, 81]

In [13]:
odd_list = list(range(1, 11, 2))
sq_odd_list1 = list(map(lambda x: x*x, odd_list))
sq_odd_list1

[1, 9, 25, 49, 81]

In [16]:
sq_odd_list2 = [i*i for i in range(1, 11) if i % 2 == 1]
sq_odd_list2

[1, 9, 25, 49, 81]

    -filter

In [17]:
filtered_list = list(filter(lambda x: x >=3 and x <=6, range(1,11)))
filtered_list

[3, 4, 5, 6]

In [18]:
list(filter(lambda x: 3 <= x <=6, range(1,11)))

[3, 4, 5, 6]

In [19]:
[i for i in range(1,11) if 3 <= i <= 6]

[3, 4, 5, 6]

- 1에서 10까지 홀수면 string으로 변환, 짝수변 그대로

In [31]:
# 가장 기초
string_list = []
for i in range(1, 11):
    if i % 2 == 1:
        string_list.append(str(i))
    else:
        string_list.append(i)
string_list

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [32]:
#람다 함수 이용
list(map(lambda x : str(x) if x % 2 ==1 else x, range(1, 11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [40]:
#함수를 생성해서 이용
def det(x):
    if i % 2 == 1:
        return str(x)
    return x

list(map(det, range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
def det2(x):
    return str(x) if x % 2 == 1 else x
list(map(det2, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [37]:
# 리스트 표현식
[str(i) if i % 2 == 1 else i for i in range(1,11)]

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

'142,000', '2,365,000', '16,300'을 정수리스트로 변환하기

In [43]:
int('123,000'.replace(',',''))

123000

In [45]:
price_str_list =['142,000', '2,365,000', '16,300']
price_list = list(map(lambda x : int(x.replace(',','')),price_str_list))
price_list

[142000, 2365000, 16300]

In [47]:
[int(x.replace(',',''))for x in price_str_list]

# 컨트롤 d 누르면 한번에 같은 함수나 문자 변환가능

[142000, 2365000, 16300]

# 2. 예외처리

In [48]:
def ten_div(x):
    return 10 / x

In [49]:
ten_div(2)

5.0

In [54]:
ten_div(0)

ZeroDivisionError: division by zero

In [57]:
try:
    ten_div(0)
except:
    print('Error 발생')

Error 발생

In [58]:
try:
    a = [1,2,3]
    print(a[4])
except Exception as e:
    print(e)

list index out of range

In [60]:
x = int(input())
try:
    ten_div(x)
except Exception as e:
    print(e)
else:
    print('Error가 발생하지 않았습니다.')
finally:
    print('try 구문이 모두 끝났습니다.')

division by zero
try 구문이 모두 끝났습니다.

## 3.클래스와 객체

In [61]:
class Calculator:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def add(self):
        return self.x + self.y
    def sub(self):
        return self.x - self.y
    def mul(self):
        return self.x * self.y
    def div(self):
        try:
            result = self.x /self.y
        except:
            result = '0으로 나눌 수 없음'
        return result

In [62]:
calc = Calculator(10, 5)

In [63]:
# 속성
calc.x, calc.y

(10, 5)

In [65]:
#메소드(method)
calc.add(), calc.sub(), calc.mul(), calc.div()

(15, 5, 50, 2.0)

In [66]:
calc.y = 0
calc.div()

'0으로 나눌 수 없음'

In [72]:
class Tmoney:
    def __init__(self, balance):
        self.balance = balance
        self.__fare = 1350
    def pay(self):
        if self.balance < self.__fare:
            return('잔액부족')
        self.balance -= self.__fare
        return(f'지불하고 {self.balance:,d}원 남았습니다.')

In [70]:
card = Tmoney(5000)
for i in range(4):
    print(card.pay())

지불하고 3,650원 남았습니다.
지불하고 2,300원 남았습니다.
지불하고 950원 남았습니다.
잔액부족

In [7]:
from datetime import datetime

datetime.today().strftime('%Y-%m-%d')

'2021-11-25'