# 6.변수(variable)

### 6-1) 변수만들기

In [1]:
lbs_weight = 174.5      #snake 표기법
inchHeight =50          #camel 표기법

In [2]:
# tuple  unpacking
x, y, z = 10, 20, 30

In [5]:
x, y = y, x
x, y

(20, 10)

In [6]:
z = None

### 6-2) 변수로 계산하기

In [7]:
x = x + y
x

30

In [8]:
sum = 0
for i in range(1,101):
    sum = sum + i
sum

5050

In [9]:
x += y      # x = x + y
x

40

### 6-3)입력값을 변수에 저장하기

In [10]:
input('숫자를 입력하세요> ')

'10'

In [15]:
number = int(input('정수를 입력하세요> '))

In [16]:
number

34

In [1]:
10 + 20, '10' + '20'

(30, '1020')

### 6-4)입력값을 변수 두개에 저장하기 (매우중요!!) 
### 정수두개를 입력으로 받기

In [18]:
s = input('정수 두개 입력>')

In [19]:
s

'30,40'

In [28]:
s.split(',')

['30', '40']

In [29]:
list(map(int, s.split(',')))

[30, 40]

In [30]:
num1, num2 = map(int, s.split(','))
num1, num2

(30, 40)

In [31]:
num1, num2 = map(int, input('정수 두개 입력>').split(','))
num1, num2

(300, 400)

In [8]:
s = input('정수 두개 입력>')

In [9]:
s

'10 20'

In [10]:
a, b = s.split()
a, b, a+b

('10', '20', '1020')

In [11]:
list(map(int,s.split()))

[10, 20]

In [13]:
num1, num2 = map(int, s.split())
num1, num2

(10, 20)

In [14]:
num1, num2 = map(int, input('정수 두개 입력>').split())
num1, num2

(300, 400)

In [16]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split())
n1, n2, n3, n1+n2+n3

(10, 20, 30, 60)